<ion-view view-title="NewGroups">
  <ion-header-bar class="bar-subheader bar-light">
    <a href="#/tab/groups" class="button button-clear button-positive">Cancel</a>
    <a href="" class="button button-clear button-positive">Next</a>
  </ion-header-bar>
  <ion-content>
    <div class="card list" style="margin-top:0px; margin-left: 0px; margin-right: 0px; height: 150px;" >
    <div class="item-avatar item-icon-right">
        <img src="img/download.png">
        <div style="position: absolute; top: 30%; transform: translateY(-50%);">  <h4>Please provide group subject and optional group icon</h4></div>
      </div>
      </div>
    <div class="card list" style="margin-top:-17px; margin-left: 0px; margin-right: 0px; height: 35px;"  >
      <h4>&nbsp;&nbsp;Group subject&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25</h4>
    </div>
  </ion-content>
</ion-view>
