<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- content Tab -->
  <ion-tab title="content" icon-off="ion-ios-email" icon-on="ion-ios-email" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- view Tab -->
  <ion-tab title="View" icon-off="ion-star" icon-on="ion-star" href="#/tab/view">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- content Tab -->
  <ion-tab title="contact" icon-off="ion-star" icon-on="ion-star" href="#/tab/slide">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
